<!DOCTYPE HTML>
<html>

<head>
    <title>Show your love & support.</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/popup.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <style>
        .content {
            font-size: 18px;
        }
		.form-control {
			color: #000000;
		}
		::placeholder { 
			color: red;
			opacity: 1;
		}
		.container {
			margin-left:200px;
		}
		.h1 {
			margin-top:25px;
		}
    </style>


</head>
<body>
	<div id="page-wrapper">
	
	<!-- Header -->
        <div style="margin-top: 25px;">
            <!-- TODO: link donate to paypal any amount -->
            <h1 style="text-align: center;">
                <a style="color: rgb(255, 55, 5);" href="/logout">Logout</a>
            </h1>
		</div>
        
		
		 <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <div class="logo"><span class="icon fa-heart"></span></div>
                <h2>Covid 19 Relief Funds</h2>
                <p>
                    Public key:<a href="" name="pkey" style="font-size:18px"><strong>1DSsgJdB2AnWaFNgSbv4MZC2m71116JafG</strong></a>
                    <!--<a href="" ><strong>1DSsgJdB2AnWaFNgSbv4MZC2m71116JafG</strong></a>-->
                </p><br /><br />
				<div class="row">
					<div class="col-1">
						<h3>Donations Received</h3>
						<h2><%=recieved[0].added_amount %></h2> 
					</div>
					<div class="col-2" style="margin-left:100px;">			
						<h3>Donations Sent</h3>
						<h2><%=sent[0].total_sent %></h2>
					</div>
				</div>
			</div>
        </section>
		
		<section id="table">
			<div class="inner">
				<h2 style="margin-left:200px">Donation Sent Details</h2>
					<table style="width:50%; margin-left:200px; margin-right:200px">
						<tr>
							<th>To</th>
							<th>Amount</th>
							<th>Date & Time</th>
						</tr>
						<% for(let i=0;i<transaction.length;i++) { %>
						<tr>
							<td><%=transaction[i].to %> </td>
							<td><%=transaction[i].amount %> </td>
							<td><%=transaction[i].createdAt %> </td>
						</tr>
						<% } %>
					</table>
			</div>
		</section>
		
		<!--footer-->
		 <section id="footer">
            <div class="inner">
                <h3>Why donate?</h3>
                <p style="text-transform:none;">
                    Maintaining my projects isn't effortless, or free. If you would like to kick in and help me
                    cover
                    those costs, that would be awesome. If you don't, no problem; just share your love and show your
                    support.
                </p>
                <ul class="copyright">
                    <li>&copy; <a href='https://pinkcoin.com'/>WithLove GroupNSM</a>. Some rights reserved.</li>
                    <!--<li>Design: <a href="http://html5up.net">HTML5 UP</a>-->
                    <li><a href="#">Credits</a></li>
                    <li><a href="#">MIT License</a></li>
                    <li><a href="sbshaikh998@gmail.com"><img style="max-width:2em;" src="#" alt=""></a>Reach us at sbshaikh998@gmail.com</li>
                </ul>
            </div>
        </section>
			
	</div>
</body>
</html>